html,
body {
    height: 100%;
}
.doc-border {
    border: solid 1px;
}

.doc-box {
    height: 80px;
}


@media print {
    html, body { height: auto; 
      -webkit-print-color-adjust: exact;
    }
    @page { 
        margin: 20mm; 
    }
    body * {  
        visibility: hidden;
    }
    .print-area * {
        visibility: visible;
    }
    .unused {
        background-color: grey !important;
        border: 1px #000 solid;
    }
    .td-bg{
        background-color: #F2F2F2 !important;
        color: #111;
        padding: 5px;
    }
    .print-area {
        /*margin: 100px 10px 0px 10px;*/
    }

    .print-footer {
        position: relative;
        bottom: -200px;
        width: 100%;
    }
    .bottom-border {
        border-bottom: 1px solid #111;
    }

    .page-break { 
        display: block; 
        page-break-before: always; 
    }

    .quo-back {
        margin-top: 250px;
    }
    #traveler-content-table tr { 
        page-break-inside:avoid; page-break-after:avoid 
    }
    #traveler-content-table tr td{ 
        page-break-inside:avoid; page-break-after:avoid 
    }
    .traveler-content table tr { 
        page-break-inside:avoid; page-break-after:avoid 
    }
    .traveler-content table tr td{ 
        page-break-inside:avoid; page-break-after:avoid 
    }

}

.bottom-border{
    border-bottom: 1px solid #111;
}

.td-bg{
    background-color: #F2F2F2;
    color: #111;
    padding: 5px;
}

.td-label {
    font-weight: 700;
}

.item th {
    padding: 3px;
}
.item td {
    padding: 10px;
    /*border: 1px solid #ccc;*/
}
.cod-border {
    border-top: dotted 1px;
}

.traveller-part-a td{
    padding:5px;
}

.final-underline {
    border-bottom: 1px solid #222;
}
.print-arc td{
    padding: 8px;
}
.ins {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;   
}

.unused {
    background-color: grey !important;
    border: 1px #000 solid;
}

.print-arc .td-small {
    padding: 2px;
    height: 10px;
}

.work-order-table td{
    padding: 3px;
    border-bottom: 1px #ccc solid;
    font-size: 11px;
    border-top: 1px #ccc solid;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
}

.box .border-left{
    border-left: 1px solid #111;
}
.box .border-right{
    border-right: 1px #111 solid;
}
.box .border-top {
    border-top: 1px #111 solid;
}
.box .border-bottom {
    border-bottom: 1px #111 solid;
}
.box .border-all {
    border-top: 1px #111 solid;
    border-bottom: 1px #111 solid;
    border-left: 1px solid #111;
    border-right: 1px #111 solid;
}

.border-left{
    border-left: 1px solid #111;
}
.border-right{
    border-right: 1px #111 solid;
}
.border-top {
    border-top: 1px #111 solid;
}
.border-bottom {
    border-bottom: 1px #111 solid;
}
.border-all {
    border-top: 1px #111 solid;
    border-bottom: 1px #111 solid;
    border-left: 1px solid #111;
    border-right: 1px #111 solid;
}
.border-none {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0;
    border-right: 0;
}

.quo-back td {
    padding: 10px;
    font-size: 11px;
    text-align: justify;
}

.quo-back hr {
    border-top: 1px solid #000;
}
.total-tr td {
    padding: 0;
}


.po-table-footer {
    font-size: 10px;
}

.pototal {
    height: 5px;
    font-size: 13px;

}

.posign {
    padding-left: 28px;
    padding-top: 40px;
}

.poterms {
    margin-left: -20px;
}
.traveler-content img{
    width: 100% !important;
    height: 100% !important;
}

#traveler-content-table .border-all{
    border-color: #111;
}

#traveler-content-table .border-left{
    border-left: 1px solid #111;
}
#traveler-content-table .border-right{
    border-right: 1px #111 solid;
}
#traveler-content-table .border-top {
    border-top: 1px #111 solid;
}
#traveler-content-table .border-bottom {
    border-bottom: 1px #111 solid;
}
#traveler-content-table .grey-out {
    background: grey;
}

#traveler-content-table tr th{
    padding: 5px;
}

.arc-remark-enclosed {
    position: relative;
    bottom: -23px;
}

.capitalize {
    text-transform: uppercase;
}

.cke_editable p {
    margin:0;
}

.final-content p {
    padding: 10px;
}

.final-content table tr td {
    padding: 10px;
    vertical-align: bottom;
}

.traveler-print-footer {
    padding-left: 5px;
}

.print-bom-page table tr td{
    padding: 4px;
}

.traveler-table tr td, #traveler-content-table tr td{
    padding: 3px;
}


.receiving-table td{
    padding: 1px;
    text-align: center;
    font-size: 11px;
    border-top: 1px #000 solid;
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
    border-bottom: 1px #000 solid;
}
.receiving-table label {
    margin-bottom: 0;
    float: left;
    margin-left: 3px;
}