html,
body {
    width: 100%;
    height: 100%;
    margin:0;
}
@media print {
    html, body { 
      -webkit-print-color-adjust: exact;
    }
    @page { 
    }
    body * {  
        visibility: hidden;
    }
    .print-area * {
        visibility: visible;
    }

    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    .print-area:last-child {
         page-break-after: auto;
    }
}